{
  "tabWidth": 2,
  "printWidth": 140,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "semi": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "arrowParens": "always"
}
