*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    background-color: var(--colour-initial);
}

img {
    max-width: 100%;
    display: block;
}
