table {
    border-spacing: 0;
    width: 100%;
}

td,
th {
    padding: 0;
    text-align: left;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

tfoot {
    font-weight: var(--weight-bold);
}
