body {
    font-size: env(--font-size-s);
    line-height: env(--line-height-s);
    font-family: var(--font-sans);
    color: var(--colour-primary);
    font-weight: var(--weight-normal);
    letter-spacing: -0.03125rem;
}

h1 {
    font-size: env(--font-size-xl);
    line-height: env(--line-height-xl);
    margin-top: env(--margin);
    margin-bottom: env(--margin);
    letter-spacing: -0.1875rem;
}

h2 {
    font-size: env(--font-size-l);
    line-height: env(--line-height-l);
    margin-top: env(--margin);
    margin-bottom: env(--margin);
    letter-spacing: -0.125rem;
}

h3 {
    font-size: env(--font-size-m);
    line-height: env(--line-height-m);
    margin-top: env(--margin);
    margin-bottom: 0;
    letter-spacing: -0.0625rem;
}

h4,
h5,
h6 {
    font-size: env(--font-size-s);
    line-height: env(--line-height-s);
    margin-top: env(--margin);
    margin-bottom: 0;
    letter-spacing: 0;
}

p,
ul,
ol,
table,
blockquote {
    margin-top: 0;
    margin-bottom: env(--margin);
}

td,
th {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-sans);
    font-weight: var(--weight-bold);
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    margin: -1px 0;
    border-top: 1px solid var(--colour-primary);
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.25rem;
}

a,
em,
b,
strong {
    font-weight: var(--weight-bold);
}

legend {
    font-size: env(--font-size-l);
    line-height: env(--line-height-l);
    margin-top: env(--margin);
    margin-bottom: env(--margin);
    letter-spacing: -0.125rem;
    font-weight: var(--weight-bold);
}

fieldset {
    p,
    label {
        display: inline-block;
        vertical-align: top;
        letter-spacing: -0.0625rem;
        font-size: env(--font-size-s);
        line-height: env(--line-height-s);
    }

    li {
        input {
            margin: 0;
        }
    }

    label {
        font-weight: var(--weight-bold);
    }

    label + input,
    label + select,
    label + textarea {
        margin-top: calc(env(--line-height) / 4 * 1rem);
        margin-bottom: calc(env(--line-height) / 4 * 1rem);
    }
}

:global {
    .h1 {
        font-size: env(--font-size-xl);
        line-height: env(--line-height-xl);
        margin-top: env(--margin);
        margin-bottom: env(--margin);
        letter-spacing: -0.1875rem;
    }

    .h2 {
        font-size: env(--font-size-l);
        line-height: env(--line-height-l);
        margin-top: env(--margin);
        margin-bottom: env(--margin);
        letter-spacing: -0.125rem;
    }

    .h3 {
        font-size: env(--font-size-m);
        line-height: env(--line-height-m);
        margin-top: env(--margin);
        margin-bottom: 0;
        letter-spacing: -0.0625rem;
    }

    .h4,
    .h5,
    .h6 {
        font-size: env(--font-size-s);
        line-height: env(--line-height-s);
        margin-top: env(--margin);
        margin-bottom: 0;
        letter-spacing: 0;
    }
}
